body{font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 14px; margin:20px 0}

.georgia{font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;}

a {
	color: #3b5998;
	cursor: pointer;
	text-decoration: none;
}

.form-group:last-child {
	margin-bottom: 0;
}

.panel-desktop .page-name {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
}

.panel-desktop .time{
	font-size: 12px;
	height: 15px;
	color: #9197a3;
	margin-top: 2px;
}

.tab-content{background: #E9EAED; padding: 20px}

.panel-desktop .inner{position: relative; border: 1px solid #E5E5E5; border-top: none; padding: 10px 12px;}

.panel-desktop .headline{
	font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 5px;
	max-height: 110px;
}

.panel-desktop .description {
	font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
	line-height: 16px;
	max-height: 80px;
	overflow: hidden;
}

.panel-desktop .text {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.38;
	overflow: hidden;
}

.panel-desktop .bar{margin-bottom: 11px}

/* mobile styles */
.panel-mobile .page-name {
	font-size: 14px;
	line-height: 17px;
	padding: 1px 0 3px;
	color: #000;
	font-weight: bold;
}

.panel-mobile .text{
	margin: 8px 0;
}

.panel-mobile .headline{
	font-weight:bold;
}

.panel-mobile .inner{position: relative; border: 1px solid #E5E5E5; border-top: none; padding: 8px;}

.panel-mobile .inner .header {
	max-height: 36px;
	overflow: hidden;
	margin-bottom: 4px;
}

.panel-mobile .description {
	line-height: 16px;
	color: #4e5665;
	font-size: 12px;
}

.panel-mobile .btn-learn-more { bottom: 23px; right: 10px }

/* shared styles */
.panel-desktop .panel-body, .panel-mobile .panel-body{padding: 12px}
.image{margin-top: 10px}
.avatar{margin-right: 8px; border: 1px solid #E4E4E4}
.time {color: #9197a3; font-size: 12px; line-height: 16px;}
.url{
	font-size: 11px;
	line-height: 11px;
	margin-top:9px;
	text-transform: uppercase;
	color: #9197a3;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background: #E9EAED }

.btn-learn-more{position: absolute; bottom: 10px; right: 12px; font-weight: bold; color: #4e5665; border: 1px solid #B6B7B9; border-radius: 2px; background: #FCFCFD; padding:0 8px; font-size: 12px; line-height: 22px;}
